$brand: #1c1cea;

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: $brand;
  line-height: 1.2;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: $brand;
}

.slide {
  position: relative;
  z-index: 1;
  &:after {
    content: '';
    z-index: 0;
    border-radius: 1px;
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: -2px;
    width: 0;
    background-color: $brand;
    transition: width 0.2s linear;
    display: block;
  }
  &:hover {
    &:after {
      width: calc(100% + 4px);
    }
  }
}

.slide-white {
  &:after {
    background-color: white;
    opacity: 0.2;
  }
}

.slide-static {
  display: inline-block;
  &:after {
    width: calc(100% + 4px);
  }
}
