body {
  font-family: 'Raleway', sans-serif;
}

main {
  width: 800px;
  margin: 0 auto;
}

/*typography*/

h1 {
  font-weight: 700;
  letter-spacing: 1.5px;
}

h2 {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  color: white;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

h4 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-weight: 16px;
}

/*header*/

header {
  width: 100%;
  background: #333333;
  position: fixed;
  z-index: 1;
}

header nav {
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
}

header nav ul {
  height: 60px;
  line-height: 60px;
}

header nav ul li:first-child {
  float: left;
  padding: 0;
  font-size: 24px;
}

header nav ul li {
  display: inline;
  height: 60px;
  line-height: 60px;
  float: right;
  padding-left: 20px;
  font-weight: 700;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

.hidden {
  height: 60px;
}

/*parallax*/

.banner-text {
  width: 230px; 
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
}

.homepage_banner {
  width: 100%;
  background-position: center;
  background-size: cover;
}

section.module.parallax {
  height: 375px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

section.module.parallax-1 {
  background-image: url("../images/laptop.jpg");
}

/*sections*/

.section-text {
  padding: 0 20px;
  text-align: center;
  line-height: 1.4;
  color: white;
  max-width: 800px;
  margin: 0 auto;
}

.planit {
  background-color: white;
  padding: 60px 0;
}

.planit p {
  color: #FF5964;
}

.planit h3 {
  color: #FF5964;
}

.brew {
  background-color: #333333;
  padding: 60px 0;
}

.skillstack {
  padding: 60px 0;
}

.skillstack p {
  color: dodgerblue;
}

.skillstack h3 {
  color: dodgerblue;
}

.hangman {
  background-color: #333333;
  padding: 60px 0;
}

.about {
  padding: 60px 0 30px 0;
}

.contact p, .about p {
  color: #333333;
}

.contact h3, .about h3 {
  color: #333333;
}

.contact {
  padding: 30px 0 60px 0;
}

/*buttons*/

button {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  margin: 20px 5px 0px 5px;
  background-color: white;
  border: 0px;
  width: 145px;
}

button.planit-button {
  border: 1px solid #FF5964;
  color: #FF5964;
}

button.planit-button:hover {
  background-color: #FF5964;
  color: white;
}

button.skillstack-button {
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

button.skillstack-button:hover {
  background-color: dodgerblue;
  color: white;
}

button.contact-button {
  border: 1px solid #333333;
  color: #333333;
}

button.contact-button:hover {
  background-color: #333333;
  color: white;
}

button.invert {
  border: 1px solid white;
}

button.invert:hover {
  border: 1px solid white;
  background-color: #333333;
  color: white;
}

/*logos*/

.planit-logo {
  height: 35px;
  margin-bottom: 20px;
}

.brew-logo {
  height: 35px;
  margin-bottom: 20px;
}

.skillstack-logo {
  height: 28px;
  margin-bottom: 20px;
}

.hangman-logo {
  height: 35px;
  margin-bottom: 20px;
}

footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

@media only screen and (max-width: 640px) {
  header nav ul li:first-child {
    font-size: 16px;
  }

  button {
    display: block;
    margin: 20px auto 0 auto;
  }

  header nav ul li {
    font-size: 12px;
  }

}