body {
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  text-align: center;
  color: white;
  transition: background 4s ease;
  &.blue {
    background: #6190E8;
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
    background: linear-gradient(to right, #A7BFE8, #6190E8);
  }
  &.lilac {
    background: #DAE2F8;
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
    background: linear-gradient(to right, #D6A4A4, #DAE2F8);
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
  margin: 0 0 30px;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 80%;
}

a {
  color: white;
}

p {
  margin-bottom: 20px;
  line-height: 1.3;
}

.contact {
  a {
    font-size: 28px;
    text-decoration: none;
  }
}

@media only screen and (max-width: 320px) {
  // main {
  //   position: static;
  //   transform: none;
  //   width: 100%;
  //   padding: 60px 20px;
  //   max-width: 100%;
  // }
}
